# Ignore OSX-specific cruft
.DS_Store

# Ignore Haskell building stuff
.cabal-sandbox/
cabal.sandbox.config
cabal-dev/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
cabal.config
dist-sandbox
dist/
dist-newstyle/
.hsenv/

# Ignore editor cruft
.*.swp
.*.swo
*~
*#
.#*
